:root{
  --intimate-gold: #FFD500;
  --intimate-black: #000000;
  --intimate-white: #FFFFFF;
  --intimate-grey: #2E2E2E;
  --intimate-blue: #24009B;
  --intimate-red: #9A0000;
  --main-font: "Urbanist", sans-serif;
  --secondary-font: "Pattaya", sans-serif;
}
body{
  font-family: var(--main-font);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
  font-family: var(--secondary-font);
}